* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body::before {
    background: url("assets/images/hero-img.jpg");
    opacity: 0.5;
    z-index: -1;
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

header {
    background-color: transparent;
    padding: 23px 60px;
}

nav a img {
    width: 170px;
}

main {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

main>div {
    background: rgba(0, 0, 0, 0.80);
    padding: 70px;
    border-radius: 6px;
    width: 435px;

}

main h2 {
    font-size: 32px;
    padding-bottom: 30px;
}

form {
    width: 300px;
    text-align: left;
}

form div {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #252525;
    background-color: #252525;
    color: white;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: #e50914;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button+div {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: grey;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

small {
    padding-bottom: 25px;
    color: grey;
    font-size: 13px;
    margin-top: 20px;
    display: block;
}

p {
    margin-top: 55px;
    font-size: 16px;
    color: grey;
}

p a {
    color: white;
}

small a {
    color: #0071eb;
}

.small a:hover {
    text-decoration: underline;
}